<p id="notice"><%= notice %></p>

<h1>Funded Loans</h1>

<table>
  <thead>
    <tr>
      <th>Title.string</th>
      <th>Loan amount.string</th>
      <th>Purpose.string</th>
      <th>Loan position.string</th>
      <th>Term.string</th>
      <th>Property type.text</th>
      <th>Term.string</th>
      <th>Loan to cost.string</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funded_loans.each do |funded_loan| %>
      <tr>
        <td><%= funded_loan.title.string %></td>
        <td><%= funded_loan.loan_amount.string %></td>
        <td><%= funded_loan.purpose.string %></td>
        <td><%= funded_loan.loan_position.string %></td>
        <td><%= funded_loan.term.string %></td>
        <td><%= funded_loan.property_type.text %></td>
        <td><%= funded_loan.term.string %></td>
        <td><%= funded_loan.loan_to_cost.string %></td>
        <td><%= link_to 'Show', funded_loan %></td>
        <td><%= link_to 'Edit', edit_funded_loan_path(funded_loan) %></td>
        <td><%= link_to 'Destroy', funded_loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funded Loan', new_funded_loan_path %>
